.space-beetween{
    display: flex;
    justify-content: space-between;
}

.button-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.hide-second{
    display: none;
}

.btn-start {
    width: fit-content;
    margin: 0 auto;
    padding: 5px 40px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
}
.spinner-wrapp {
     height: 100%;
     width: 100%;
     position: absolute;
     z-index: 1;
     top: 0;
     display: none;
     align-items: center;
     justify-content: center;
     background-color: rgba(0,0,0, 0.1);
 }